.banner{
  height: 8vh;
}

.search-bar{
  height: 10vh;
}

.search-content{
  height: 40vh;
  border: 5px solid gold;
}

.playlist-content{
  height: 40vh;
}

.spacer{
  height: 3vh;
}

.song-data-row{
  height: 50%;
}

.inline{
  display: inline;
}

.heart{
  font-size: 2em;
  color: red;
}

.scrollable{
  overflow-y: scroll;
}

.song-card{
  background-color: lightblue;
  border: 5px solid black;
  border-style: outset;
}

.title{
  text-align: center;
}

.album-thumbnail{
  max-height: 100px;
  max-width: 100px;
  min-height: 50px;
  min-width: 50px;
}

.scroll-right{
  overflow-x: scroll;
}