body{
  background-image: url("./background.jpg");
  background-repeat: repeat;
}

.banner{
  height: 5vh;
}

.search-bar{
  height: 10vh;
}

.search-content{
  max-height: 40vh;
}

.playlist-content{
  height: 40vh;
}

.song-data-row{
  height: 50%;
}

.inline{
  display: inline;
}

.heart{
  font-size: 2em;
  color: red;
}

.scrollable{
  overflow-y: auto;
}

.song-card{
  background-color: navy;
  border: 5px solid black;
  border-style: outset;
}

.title{
  color: white;
}

.album-thumbnail{
  max-height: 100px;
  max-width: 100px;
  min-height: 50px;
  min-width: 50px;
}

.playlist-card{
  background-color: turquoise;
  border: 10px solid black;
  border-style: inset;
  height: 30%;
}

.search-field{
  display: inline;
}

.search-btn{
  width: 25%;
}